
body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  cursor: default !important;
  height: 100vh;
  background-color: #252627;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 465px) {
  .navbar ul li {
    width: 69px !important;
  }
}

@media screen and (max-width: 600px) {

.open {
  font-size: 48px !important;
}

.open1 {
  font-size: 48px !important;
}

.open2 {
  font-size: 48px !important;
}

.open3 {
  color: #fff !important;
}

nav {
  width: 73% !important;
  margin-left: 20% !important;
}
.navbar ul li {
  width: 87px;
}

body {
    width: 100% !important;
    height: 80vh !important;
}

.centerfront {
  line-height: 40px !important;
  top: 30% !important;
}

 #home {
height: 80vh !important;
  }

  .code5 {
    bottom: 12% !important;
    left: 3% !important;
  }
  .code4 {
    bottom: 15% !important;
  }
  .code3 {
    display: none;
  }
  .frontpageimg {
    width: 278px !important;
    height: 450px !important;
  }
  .jack5 {
    max-width: 27px !important;
  }

}

.LOGO {
float: left;
max-width: 69px;
}


.navbar {
  width: 100%;
  padding: 5px 0px;
  background: #181818;
  white-space: nowrap;
}

.navbar ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: -5px;
  color: #ccc;
  font-size: 25px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
}

.navbar ul li:hover {
  list-style-type: none;
  display: inline-block;
  margin-left: -5px;
  font-size: 25px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  color: #08fdd8;
}


#active2 {
  color: #08fdd8;
}


nav {
  width: 50%;
  margin: 0 auto;
}


/*home page*/

#home {
  height: 100vh;
  background: #252627;
}

/*about page*/

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
* {
    box-sizing: border-box !important;
}
.code11 {
  position: absolute;
  top: 13%;
  left: 9%;
  font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #757575;
    font-weight: 100;
    margin: 0;
}
.code12 {
  margin: 0;
  position: absolute;
  font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #757575;
    font-weight: 100;
    top: -6%;
left: 3%;
}

.code13 {
  margin: 0;
  position: absolute;
  font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #757575;
    font-weight: 100;
    top: 63%;
    left: 0%;
}

.code14 {
  left: 10%;
  position: absolute;
  bottom: 5%;
  font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #757575;
    font-weight: 100;
    margin: 0;
}

.code15 {
  position: absolute;
    bottom: 1%;
    left: 7%;
    font-family: 'Great Vibes', cursive;
      font-size: 20px;
      color: #757575;
      font-weight: 100;
      margin: 0;
}
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  margin: 0 !important;
  display: inline-block;
  width: 100%;
}

.row1 {
  margin: 0 !important;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 20%;
}

.about-stuff {
  position: absolute;
  left: 10%;
}
@media screen and (min-width: 1025px) {
.music {
    position: absolute;
    width: 49%;
    right: 0%;
    top: 12%
}
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .column1 {
        width: 100%;
      /*  height: 10% !important; */
    }
    .column2 {
        width: 100%;
    }

    .about-me {
      text-align: left !important;
    }
    .about-p {
      margin: 0 !important;
    }
    .music {
position: absolute !important;
width: 83% !important;
left: 15% !important;
margin: 0 auto !important;
}
}


.about-me {
  text-align: left;
  margin-top: 50px;
  font-size: 60px;
  color: #08fdd8;
  letter-spacing: 1px;
  white-space: nowrap;
  margin: 0;

}


.about-p {
  margin-top: 10px !important;
  color: #fff;
  letter-spacing: 1px;

}

#about {
  height: 100vh;
  background: #303030;
}


#ani {
  display: inline-block;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  text-decoration: none;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

#ani:hover {
  animation-name: rubberBand;
  color: #08fdd8;
  cursor: default;
}

#ani:active {
  animation-name: rubberBand;
  color: #08fdd8;
}

#ani:focus {
  animation-name: rubberBand;
  color: #08fdd8;
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.open3 {
  font-size: 10px;
  color: #08fdd8;
  margin: 0;
}


.open {
  font-size: 56px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -3px;
}

.open1 {
  font-size: 56px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -3px;
}

.open2 {
  font-size: 56px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -3px;
}

.centerfront {
  position: absolute;
  top: 35%;
  left: 10%;
  white-space: nowrap;
  line-height: 53px;
  z-index: 2;
  color: #fff;
}

.code1 {
  margin: 0;
position: absolute;
left: 10%;
top: 13%;
font-family: 'Great Vibes', cursive;
font-size: 20px;
color: #757575;
font-weight: 100;
}

.code2 {
  margin: 0;
position: absolute;
left: 0%;
top: -16%;;
font-family: 'Great Vibes', cursive;
font-size: 20px;
color: #757575;
font-weight: 100;
}

.code3 {
  margin: 0;
position: absolute;
left: 101%;
bottom: 34%;
font-family: 'Great Vibes', cursive;
font-size: 20px;
color: #757575;
font-weight: 100;
}

.code4 {
  margin: 0;
position: absolute;
left: 10%;
bottom: 5%;
font-family: 'Great Vibes', cursive;
font-size: 20px;
color: #757575;
font-weight: 100;
}
.code5 {
  margin: 0;
position: absolute;
left: 8%;
bottom: 2%;
font-family: 'Great Vibes', cursive;
font-size: 20px;
color: #757575;
font-weight: 100;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

#ani1 {
  animation-duration: 0.3s !important;
  animation-delay: 0.2s !important;
}

#ani2 {
  animation-duration: 0.3s !important;
  animation-delay: 0.3s !important;
}

#ani3 {
  animation-duration: 0.3s !important;
  animation-delay: 0.4s !important;
}

#ani4 {
  animation-duration: 0.3s !important;
  animation-delay: 0.5s !important;
}

#ani5 {
  animation-duration: 0.3s !important;
  animation-delay: 0.6s !important;
}

#ani6 {
  animation-duration: 0.3s !important;
  animation-delay: 0.7s !important;
}

#ani7 {
  animation-duration: 0.3s !important;
  animation-delay: 0.8s !important;
}

#ani8 {
  animation-duration: 0.3s !important;
  animation-delay: 0.9s !important;
}

#ani9 {
  animation-duration: 0.3s !important;
  animation-delay: 1s !important;
}

#ani10 {
  animation-duration: 0.3s !important;
  animation-delay: 1.1s !important;
}

#ani11 {
  animation-duration: 0.3s !important;
  animation-delay: 1.2s !important;
}

#ani12 {
  animation-duration: 0.3s !important;
  animation-delay: 1.3s !important;
}

#ani13 {
  animation-duration: 0.3s !important;
  animation-delay: 1.4s !important;
}

#ani14 {
  animation-duration: 0.3s !important;
  animation-delay: 1.5s !important;
}

#ani15 {
  animation-duration: 0.3s !important;
  animation-delay: 1.6s !important;
}

#ani16 {
  animation-duration: 0.3s !important;
  animation-delay: 1.7s !important;
}

#ani17 {
  animation-duration: 0.3s !important;
  animation-delay: 1.8s !important;
}

#ani18 {
  animation-duration: 0.3s !important;
  animation-delay: 1.9s !important;
}

#ani19 {
  animation-duration: 0.3s !important;
  animation-delay: 2s !important;
}

#ani20 {
  animation-duration: 0.3s !important;
  animation-delay: 2.1s !important;
}

#ani21 {
  animation-duration: 0.3s !important;
  animation-delay: 2.2s !important;
}

#ani22 {
  animation-duration: 0.3s !important;
  animation-delay: 2.3s !important;
}

#ani23 {
  animation-duration: 0.3s !important;
  animation-delay: 2.4s !important;
}

#ani24 {
  animation-duration: 0.3s !important;
  animation-delay: 2.5s !important;
}

.thefrontpage {
  width: 100% !important;
}

.CONTACT_ME {
  margin: 0;
  padding: 0;
  text-align: center;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  outline: none;
  border: 1px solid #08fdd8;
  color: #fff;
  font-size: 18px;
}

input {
  height: 45px;
}

form .submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
}

form .submit:hover {

}

.front-button {
  border: 1px solid #08fdd8;
  border-radius: 3px;
  background: transparent;
  padding: 8px 12px;
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 4px;
}

.front-button:hover {
  color: #252627;
  background-color: #08fdd8;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

header {

}

/* .jack {
  color: #08fdd8 !important;
}

.jack:hover {
  color: #fc0753 !important;
} */

.frontpageimg {
  z-index: 0;
  width: 370px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
}

#really-big-logo{
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  animation-delay: 2s;
}

.jack5 {
  max-width: 35px;
}
