
body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  cursor: default !important;
  height: 100vh;
  background-color: #252627;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 31px !important;
    font-style: normal;
    margin-left: 20px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9999999999999999;
}

@media screen and (max-width: 320px) {
.navbar ul li {
    width: 65px !important;
}
}

@media screen and (max-width: 600px) {
  .navbar ul li {
    width: 88px !important;
  }
}

@media screen and (max-width: 600px) {
#jack5 {
  max-width: 26px !important;
}

.open {
  font-size: 21px !important;
  letter-spacing: -4px !important;
}

.open1 {
  font-size: 21px !important;
  letter-spacing: -4px !important;
}

.open2 {
  font-size: 21px !important;
  letter-spacing: -4px !important;
}

.open3 {
  color: #fff !important;
}

nav {
  width: 73% !important;
  margin-left: 20% !important;
}
.navbar ul li {
  width: 87px;
}

body {
    width: 100% !important;
    height: 80vh !important;
}

.centerfront {
  line-height: 40px !important;
  top: 30% !important;
}

 #home {
height: 80vh !important;
  }

  .code5 {
    bottom: 11% !important;
    left: 3% !important;
  }
  .code4 {
    bottom: 15% !important;
  }
  .code3 {
    display: none;
  }
  .frontpageimg {
    width: 278px !important;
    height: 450px !important;
  }
  .jack5 {
    max-width: 27px !important;
  }

}

.LOGO {
float: left;
max-width: 69px;
width: 69px;
}


.navbar {
  width: 100%;
  padding: 5px 0px;
  background: #181818;
  white-space: nowrap;
}

.navbar ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: -5px;
  color: #ccc;
  font-size: 25px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
}

.navbar ul li:hover {
  list-style-type: none;
  display: inline-block;
  margin-left: -5px;
  font-size: 25px;
  width: 100px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  color: #08fdd8;
}


#active2 {
  color: #08fdd8;
}


nav {
  width: 50%;
  margin: 0 auto;
}


/*home page*/

#home {
  height: 100vh;
  background: #252627;
}

/*about page*/

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
* {
    box-sizing: border-box !important;
}
.code11 {
  position: absolute;
  top: 14%;
  left: 7%;
  font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    margin: 0;
}
.code12 {
  margin: 0;
  font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    letter-spacing: 0px;
    margin-bottom: -15px;
}

.code13 {
  margin: 0;
  font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    letter-spacing: 0px;
    margin-top: -10px;
}

.code14 {
  left: 8%;
  position: absolute;
  top: 117%;
  font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    margin: 0;
}

.code15 {
  position: absolute;
    top: 122%;
    left: 6%;
      font-family: 'La Belle Aurore', cursive;
      font-size: 20px;
      color: #515152;
      font-weight: 100;
      margin: 0;
}
}

/* Create two equal columns that floats next to each other */
.column-1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  margin: 0 !important;
  display: inline-block;
  width: 100%;
}

.row1 {
  margin: 0 !important;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 20%;
}

.about-stuff {
  position: absolute;
  left: 10%;
}
@media screen and (min-width: 1025px) {
.music {
    position: absolute;
    width: 49%;
    right: 0%;
}
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .frontpageimg {
    z-index: 0;
    width: 370px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 0 !important;
    bottom: 0;
    left: 0 !important;
    margin: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}
#really-big-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    animation-delay: 2s;
}

}

@media screen and (max-width: 1024px) {
  #map {
    margin-bottom: 200px !important;
    height: 60vh !important;
  }
    .column1 {
        width: 100%;
      /*  height: 10% !important; */
    }
    .column2 {
        width: 100%;
    }

    .column {
        width: 100% !important;
    }

    #managemaps {
      width: 100% !important;
    }

    .column-1 {
        width: 80% !important;
        position: absolute;
        top: 125%;
        left: 10%;
        display: none !important;
    }

    .about-me {
      text-align: left !important;
    }
    .about-p {
      margin: 0 !important;
      width: 90% !important;
    }
    .music {
position: absolute !important;
width: 83% !important;
left: 15% !important;
margin: 0 auto !important;
}
}


.about-me {
  text-align: left;
  margin-top: 50px;
  font-size: 30px;
  color: #08fdd8;
  letter-spacing: -4px;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 40px;

}


.about-p {
  margin-top: 10px !important;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 !important;
  width: 40%;
  font-size: 13px;
  font-size: 6px;
}

#about {
  height: 100vh;
  background: #303030;
}


#ani {
  display: inline-block;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  text-decoration: none;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  color: #08fdd8;
  cursor: default;
}


.open3 {
  font-size: 10px;
  color: #08fdd8;
  margin: 0;
}


.open {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -5px;
}

.open1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -5px;
}

.open2 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -5px;
}

.centerfront {
  position: absolute;
  top: 35%;
  left: 10%;
  white-space: nowrap;
  line-height: 44px;
  z-index: 2;
  color: #fff;
}

.code1 {
  margin: 0;
position: absolute;
left: 7%;
top: 13%;
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
}

.code2 {
  margin: 0;
position: absolute;
left: 0%;
top: -16%;;
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
}

.code3 {
  margin: 0;
position: absolute;
left: 104%;
bottom: 30%;
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
}

.code4 {
  margin: 0;
position: absolute;
left: 7%;
bottom: 5%;
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
z-index: 1;
}
.code5 {
  margin: 0;
position: absolute;
left: 4%;
bottom: 2%;
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
z-index: 1;
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

#ani1 {
  animation-duration: 0.3s !important;
  animation-delay: 0.2s !important;
}

#ani2 {
  animation-duration: 0.3s !important;
  animation-delay: 0.3s !important;
}

#ani3 {
  animation-duration: 0.3s !important;
  animation-delay: 0.4s !important;
}

#ani4 {
  animation-duration: 0.3s !important;
  animation-delay: 0.5s !important;
}

#ani5 {
  animation-duration: 0.3s !important;
  animation-delay: 0.6s !important;
}

#ani6 {
  animation-duration: 0.3s !important;
  animation-delay: 0.7s !important;
}

#ani7 {
  animation-duration: 0.3s !important;
  animation-delay: 0.8s !important;
}

#ani8 {
  animation-duration: 0.3s !important;
  animation-delay: 0.9s !important;
}

#ani9 {
  animation-duration: 0.3s !important;
  animation-delay: 1s !important;
}

#ani10 {
  animation-duration: 0.3s !important;
  animation-delay: 1.1s !important;
}

#ani11 {
  animation-duration: 0.3s !important;
  animation-delay: 1.2s !important;
}

#ani12 {
  animation-duration: 0.3s !important;
  animation-delay: 1.3s !important;
}

#ani13 {
  animation-duration: 0.3s !important;
  animation-delay: 1.4s !important;
}

#ani14 {
  animation-duration: 0.3s !important;
  animation-delay: 1.5s !important;
}

#ani15 {
  animation-duration: 0.3s !important;
  animation-delay: 1.6s !important;
}

#ani16 {
  animation-duration: 0.3s !important;
  animation-delay: 1.7s !important;
}

#ani17 {
  animation-duration: 0.3s !important;
  animation-delay: 1.8s !important;
}

#ani18 {
  animation-duration: 0.3s !important;
  animation-delay: 1.9s !important;
}

#ani19 {
  animation-duration: 0.3s !important;
  animation-delay: 2s !important;
}

#ani20 {
  animation-duration: 0.3s !important;
  animation-delay: 2.1s !important;
}

#ani21 {
  animation-duration: 0.3s !important;
  animation-delay: 2.2s !important;
}

#ani22 {
  animation-duration: 0.3s !important;
  animation-delay: 2.3s !important;
}

#ani23 {
  animation-duration: 0.3s !important;
  animation-delay: 2.4s !important;
}

#ani24 {
  animation-duration: 0.3s !important;
  animation-delay: 2.5s !important;
}

#ani25 {
  animation-duration: 0.3s !important;
  animation-delay: 2.6s !important;
}

#ani26 {
  animation-duration: 0.3s !important;
  animation-delay: 2.7s !important;
}

.thefrontpage {
  width: 100% !important;
}

.CONTACT_ME {
  margin: 0;
  padding: 0;
  text-align: center;
}

form {
  margin-top: 50px;
}

.form-control {
  width: 600px;
  background: #37393b;
  outline: none;
  color: #8d8d8d;
  font-size: 18px;
  border: transparent;
}

input {
  height: 45px;
}

form .submit {
  background-color: transparent;
  border: 1px solid #08fdd8;
  color: #08fdd8;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 55px;
  height: 40px;
  border-radius: 3px;
  font-family: 'Robot', sans-serif !important;
}

form .submit:hover {
  background-color: #08fdd8;
  color: #252627 !important;
}

.front-button {
  border: 1px solid #08fdd8;
  border-radius: 3px;
  background: transparent;
  padding: 8px 12px;
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 4px;
}

.front-button:hover {
  color: #252627;
  background-color: #08fdd8;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

header {

}
/* */

.frontpageimg {
  z-index: 0;
  width: 370px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
}

#really-big-logo{
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  animation-delay: 2s;
}

.jack5 {
  max-width: 35px;
}



@media (max-width: 800px) and (orientation: landscape) {
  #rotate {
    position: fixed;
    background: #212121 url(./resources/images/re54.png) no-repeat center;
    background-size: 100% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
    display: block !important;
    width: 100%;
    margin: auto 0;
}
}

#rotate {
  display: none;
}


@media screen and (min-width: 1024px) {
.code14 {
    bottom: 8% !important;
}

}

@media screen and (max-width: 1024px) {
  .code15 {
    top: 140% !important;
  }
  .code14 {
    top: 136% !important;
  }
}

#name {
  width: 100%;
  padding: 10px;
  margin-right: 0%;
  margin-bottom: 0;
}


#email {
  width: 100%;;
  padding: 10px;
  margin-left: 0%;
  margin-top: 2%;
}

#subject {
  padding: 10px;
  width: 100%;
    margin-top: 2%;
}

#message {
  padding: 10px;
  width: 100%;
    margin-top: 2%;
    height: 150px;
    border: 0px solid #000000;
    display: inline;
    text-decoration: none;
    margin-bottom: -4px;

}

li {
  display: inline-block;
  width: 100%;
}

li a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.ano1 {
  width: 49%;
}

.ano2 {
  width: 49%;
  margin-left: 1.4%;
}

@media screen and (max-width: 600px) {
  .ano1 {
    width: 100% !important;
  }

  .ano2 {
    width: 100% !important;
    margin-left: 0% !important;
  }
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #08fdd8;
  transition: width .3s;
  z-index: 9999999;
}

.cool-link:focus-within::after {
  width: 100%;
  transition: width .3s;
  z-index: 999999;
}

.cool-link1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #08fdd8;
  transition: width .3s;
  z-index: 9999999;
}

.cool-link1:focus::after {
  width: 100%;
  transition: width .3s;
  z-index: 999999999;
}

.cool-link2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #08fdd8;
  transition: width .3s;
  z-index: 999999999999;
}

.cool-link2:focus::after {
  width: 100%;
  transition: width .3s;
  z-index: 9999999999
}


#submit {
  width: 100px;
    float: right;
    margin-bottom: 2%;
    margin-top: 2%;
}

#thing-for-thing {
  width: 80%;
  margin-left: 10%;
  white-space: nowrap;
}


#sit {
  width: 80%;
  margin-left: 10%;
}

#managemaps {
  width: 50%;
  float: right;
}

#thecenter {
  height: 0 !important;
  position: absolute;
width: 100%;
top: 20%;
}



#idke {
  margin-left: 10%;
  color: #08fdd8;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

#p-idke {
  color: #fff;
  font-size: 15px;
  margin-bottom: -40px;
  width: 89%;
}

#words {
  /* width: 100%; */
  margin-left: 10%;
}

#map {
  height: 100vh;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  background-color: red;
 }


@media screen and (max-width: 600px) {
  #thing-for-thing {
    white-space: normal !important;
  }
  #email {
    margin-left: 0px !important;
    width: 100% !important;
  }
  #name {
    width: 100% !important;
  }
  .about-me {
    font-size: 22px !important;
    letter-spacing: -3px !important;
  }
  #idke {
    font-size: 40px !important;
    margin-top: 0px;
  }
  #p-idke {
    width: 89%;
  }
}


.form-control::before, .form-control::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}



#address {
  position: absolute;
  top: 16%;
  right: 2%;
  font-size: 17px;
  color: #fff;
  background-color: black;
  padding: 20px;
}


.idkk {
  color: #08fdd8;
}

@media screen and (max-width: 1024px) {
  #address {
    position: absolute;
    top: 49%;
    right: -2%;
    font-size: 17px;
    color: #fff;
    background-color: black;
    padding: 20px;
  }
}


@media screen and (max-width: 1024px) {
  #address {
    position: absolute;
    top: 49%;
    right: -2%;
    font-size: 17px;
    color: #fff;
    background-color: black;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  #address {
      position: absolute;
      top: -23%;
      right: 0%;
      font-size: 17px;
      color: #fff;
      background-color: black;
      padding: 20px;
      width: 100%;
  }
}


.code21 {
  position: absolute;
top: 14%;
left: 3%;
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
margin: 0;
}

@media screen and (max-width: 1024px) {
  .code21 {
    position: absolute;
  top: 14%;
  left: 5% ;
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
  color: #515152;
  font-weight: 100;
  margin: 0;
  }
}


.ani {
  display: inline-block;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  text-decoration: none;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  margin: 0 !important;
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  color: #08fdd8;
  cursor: default;
}

.classd {
  visibility: hidden;
}


#jack5 {
  max-width: 35px;
}


@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.menu {
    width: 50%;
    float: left;
    padding: 15px;
    padding: 0px;
    padding-left: 10%;
}
.main {
    width: 50%;
    float: left;
    padding: 35px;
}
@media screen and (max-width: 1024px) {
  .menu {
    width: 100% !important;
  }
  .main {
    width: 100%;
    margin-top: 50px;
  }
}
.about-p {
  width: 90%;
}
#whole1 {
  position: absolute;
  top: 20%;
}

.code22 {
font-family: 'La Belle Aurore', cursive;
font-size: 20px;
color: #515152;
font-weight: 100;
margin: 0;
letter-spacing: 0px;
margin-bottom: -18px;
}

#contactme {
  margin-left: 10%;
  margin-bottom: -5px;
}

.code23 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0px;
    margin-top: -14px;
}

#thin {
  font-weight: 100;
  font-size: 14px;
  line-height: 15px;
font-family: 'Lato', sans-serif;
  color: #fff !important;
  margin: 2px !important;
  letter-spacing: 0px;
}

.mailformee {
  color: white;
  text-decoration: none;
}

.mailformee:hover {
  color: #08fdd8;
}

.code24 {
    margin: 0;
    position: absolute;
    left: 4%;
    bottom: 5%;
    font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
}


.code25 {
    margin: 0;
    position: absolute;
    left: 2%;
    bottom: 2%;
    font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
}

@media screen and (min-width: 1px) {
  .code24 {
    margin: 0;
    position: relative !important;
    font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    width: 50%;
    display: block !important;
    margin-top: 50px;
}

.code25 {
    margin: 0;
    position: relative !important;
    font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
    color: #515152;
    font-weight: 100;
    width: 50%;
    display: block !important;
}
}

.newsubmit {
  margin-top: 10px;
    border: 1px solid #08fdd8;
    border-radius: 3px;
    background: transparent;
    padding: 8px 12px;
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 4px;
    float: right;
}

.newsubmit:hover {
    color: #252627;
    background-color: #08fdd8;
}

/* Demo Styles */
#content {
  padding-bottom: 50px;
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  transition: all 1s ease-in;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 75%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #08fdd8;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fc0753;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #252627;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
  width: 0%;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
  width: 100%;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

#jackisthinking {
    font-weight: 100;
    font-size: 10px;
    color: white;
    z-index: 100000000;
    display: block;
    position: relative;
    left: 50%;
    top: 54%;
    margin: -75px 0 0 -44px;
}

.loaded #jackisthinking {
    opacity: 0;
    transition: all 0.3s ease-out;
}

#dd {
      width: 40px;
      z-index: 1212323123;
      display: block;
      position: relative;
      left: 50%;
      top: 40%;
      margin: -75px 0 0 -23px;
    }

    .loaded #dd {
        opacity: 0;
        transition: all 0.3s ease-out;
    }

#inbeta {
  position: absolute;
}


#Layer_1 {
  position: relative;
  top: 10%;
  fill: #08fdd8;
}

#Layer_2 {
  position: relative;
  top: 10%;
  fill: #4d4d4e;
}

#Layer_3 {
  position: relative;
  top: 10%;
  fill: #4d4d4e;
}

#Layer_2:hover {
  position: relative;
  top: 10%;
  -webkit-transition: fill 0.2s ease-out;
-moz-transition: fill 0.2s ease-out;
-o-transition: fill 0.2s ease-out;
transition: fill 0.2s ease-out;
  fill: #08fdd8;
}

#Layer_3:hover {
  position: relative;
  top: 10%;
  -webkit-transition: fill 0.2s ease-out;
-moz-transition: fill 0.2s ease-out;
-o-transition: fill 0.2s ease-out;
transition: fill 0.2s ease-out;
  fill: #08fdd8;
}

#Layer_5 {
  position: relative;
  top: 10%;
  fill: #08fdd8;
}

#Layer_4:hover {
  position: relative;
  top: 10%;
  -webkit-transition: fill 0.2s ease-out;
-moz-transition: fill 0.2s ease-out;
-o-transition: fill 0.2s ease-out;
transition: fill 0.2s ease-out;
  fill: #08fdd8;
}

#Layer_6:hover {
  position: relative;
  top: 10%;
  -webkit-transition: fill 0.2s ease-out;
-moz-transition: fill 0.2s ease-out;
-o-transition: fill 0.2s ease-out;
transition: fill 0.2s ease-out;
  fill: #08fdd8;
}

#Layer_6 {
  position: relative;
  top: 10%;
  fill: #4d4d4e;
}

#Layer_4 {
  position: relative;
  top: 10%;
  fill: #4d4d4e;
}

#Layer_7:hover {
  position: relative;
  top: 10%;
  -webkit-transition: fill 0.2s ease-out;
-moz-transition: fill 0.2s ease-out;
-o-transition: fill 0.2s ease-out;
transition: fill 0.2s ease-out;
  fill: #08fdd8;
}

#Layer_7 {
  position: relative;
  top: 10%;
  fill: #4d4d4e;
}

#Layer_8:hover {
  position: relative;
  top: 10%;
  -webkit-transition: fill 0.2s ease-out;
-moz-transition: fill 0.2s ease-out;
-o-transition: fill 0.2s ease-out;
transition: fill 0.2s ease-out;
  fill: #08fdd8;
}

#Layer_8 {
  position: relative;
  top: 10%;
  fill: #4d4d4e;
}

#Layer_9 {
  position: relative;
  top: 10%;
  fill: #08fdd8;
}
